In [39]:
import tweepy
import requests
import pandas as pd

In [42]:
consumer_key= 'Ggf5VxXPXbiWHg50lsTeVZSHu'
consumer_secret= 'cNtEAWx0j*********vEBe6V171OznVzF0TgPv78H606Y8iNqS'
access_token= '10540798371685********j7evURZOWlNrT2T7TuXK7Q87a0AP'
access_token_secret= 'IFRqtqa4kaiJg7XW5LIYYI1SKGrFGCFnXRFgIl4mgb5YP'

auth= tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)

api=tweepy.API(auth)

In [56]:
user = api.get_user(screen_name='kritika35561560')
print('Name:  '+ str(user.name))
print('Location:  '+ str(user.location))
print('Followers: '+ str(user.followers_count))
print('Frinds:    '+str(user.friends_count))
print('Description:  '+ str(user.description))

Name:  Kritika Chaturvedi
Location:  Delhi
Followers: 4
Frinds:    78
Description:  Time is too valuable to be wasted on anything less than learning, love, good vibes and happiness. IRMAnðŸ˜‡

In [85]:
date_since='2020-03-23'
hashtag_phrase=input('Input the hashtag:')

Input the hashtag:#help

In [86]:
tweets=tweepy.Cursor(api.search,q=hashtag_phrase,lang='en',since=date_since).items(1000)
tweet_details=[[t.created_at,t.user.screen_name,t.text,t.user.location,t.retweet_count,t.favorite_count] for t in tweets]

In [88]:
df=pd.DataFrame(data=tweet_details,columns=['Time','User_name','Tweet_text','User_location','Retweet_count','Likes'])

In [89]:
df.head()

,Time,User_name,Tweet_text,User_location,Retweet_count,Likes
0,2020-06-25 11:17:41,JrSrkShub,RT @MeerFoundation: It's your last chance to d...,SRK's country,33,0
1,2020-06-25 11:17:13,linda6452,@ScrubbingBubble still no product in the store...,,0,0
2,2020-06-25 11:16:52,Big_Mal24,RT @metuziel: I need help I am a trans man who...,,12580,0
3,2020-06-25 11:16:47,teamsrkfc,RT @MeerFoundation: It's your last chance to d...,India,33,0
4,2020-06-25 11:16:43,SRKCHENNAIFC,RT @MeerFoundation: It's your last chance to d...,Mannat - WhatsApp: 9941893723,33,0

In [90]:
 df.sort_values(by=['Retweet_count'], ascending=0).head()

,Time,User_name,Tweet_text,User_location,Retweet_count,Likes
999,2020-06-25 03:46:48,J0hnnyIuvr,RT @metuziel: I need help I am a trans man who...,Jeno â™¡áµ”á´¥áµ”áµŽáµŽ,12581,0
766,2020-06-25 05:21:13,mxrangg,RT @metuziel: I need help I am a trans man who...,,12581,0
810,2020-06-25 05:05:17,sofdelac,RT @metuziel: I need help I am a trans man who...,,12581,0
809,2020-06-25 05:06:07,vnktae,RT @metuziel: I need help I am a trans man who...,,12581,0
805,2020-06-25 05:08:05,animallover3004,RT @metuziel: I need help I am a trans man who...,Nygmobs/Malec land,12581,0

In [96]:
df2=df[(df['Retweet_count']==0)&(df['Likes']==0)]
df2.head()
df2.to_excel('help.xls')